.header-container{
    background-color: rgb(247, 144, 144);
    padding: 10px 10px 30px 10px;
    margin: 10px;
}

.menu{
    margin: 0px 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
}